/*Google Font import*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS Variables*/

:root {
    --primary-font: "Merriweather", sans-serif;
    --secondary-font: "Montserrat", sans-serif;

    --primary-bg: black;
    --primary-text: white;

    --navbar-bg: green !important;
    --footer-bg: green;
}

body {
    font-family: var(--primary-font);
}

h1 {
    font-family: var(--secondary-font);
}

/*Navbar CSS*/
#navbar {
    background-color: var(--navbar-bg) !important;
    color: var(--primary-text) !important;
}

/* Force all text inside navbar to be white */
#navbar, 
#navbar * {
    color: var(--primary-text) !important;
}

/* This prevents the children from overriding the navbar background */
#navbar * {
    background-color: transparent !important;
}

#navbar .logo {
    width: 70px;
}

/*Footer CSS*/
#footer {
    background-color: var(--footer-bg) !important;
}

#showcase-photos {
    column-count: 3;
    column-gap: 0;
}

@media (max-width: 900px) {
    #showcase-photos {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    #showcase-photos {
        column-count: 1;
    }
}

#showcase-photos img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0;
}





/*Global Styles*/

body {
    background-color: black;
    color: white;
}

.center-this {
    padding: 250px;
}

#book-us {
    padding: 100px;
}

#showcase {
    padding: 20px;
}

section .header .carousel {
    max-width: 20%;
}