/*Google Font import*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS Variables*/

:root {
    --primary-font: "Merriweather", sans-serif;
    --secondary-font: "Montserrat", sans-serif;

    --primary-bg: black;
    --primary-text: white;

    --navbar-bg: green !important;
    --footer-bg: green;
}

body {
    font-family: var(--primary-font);
}

h1 {
    font-family: var(--secondary-font);
}

/*Navbar CSS*/
#navbar {
    background-color: var(--navbar-bg) !important;
    color: var(--primary-text) !important;
}

/* Force all text inside navbar to be white */
#navbar, 
#navbar * {
    color: var(--primary-text) !important;
}

/* Prevent child backgrounds from overriding the navbar bg */
#navbar * {
    background-color: transparent !important;
}

#navbar .logo {
    width: 70px;
}

/*Footer CSS*/
#footer {
    background-color: var(--footer-bg) !important;
}



/*Global Styles*/

body {
    background-color: black;
    color: white;
}
