/*Google Font import*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS Variables*/

:root {
    --primary-font: "Merriweather", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}

body {
    font-family: var(--primary-font);
}

h1 {
    font-family: var(--secondary-font);
}

/*Navbar CSS*/

#navbar {
    background-color: green !important;
}

#navbar .logo {
    width: 70px;
}